body {
  background-image: url(./images/photo.png);
  background-color: black;
}


/* .app-base {
  width: 100%;
  height: 100%;
}

.bg-design {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-design img {
  object-fit: cover;
  width: 100%;
  height: 100%;
} */

.main-title {
  text-align: center;
  color: #000;
  font-family: Bebas Neue;
  margin: 40px 0 10px;
}

.winner-text-base {
  height: 25px;
}

.winner-text {
  font-family: "Bebas Neue";
  color: white;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

/* Slots Style  */
.slots {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color:rgb(39, 36, 36);
  border-radius: 30px;
  gap: 20px;
  padding: 0 20px;
}

/* REEL styles class */
.reel {
  width: 89px;
  /* height: 200px; */
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  position: relative;
  height: 36px;
  overflow: hidden;
  border-color: #000;
  /* border-width: 5px; */
}

.spin-button {
  font-family: "Bebas Neue";
  font-size: 15px;
  padding: 15px;
  border-radius: 30px;
  color: white;
  background-color: gray;
  cursor: pointer;
  border: none;
}
.god-mode-button {
  font-family: "Bebas Neue";
  font-size: 5px;
  padding: 30px;
  border-radius: 10px;
  color: white;
  background-color:black;
  cursor: pointer;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

.god-mode-button.active {
  background-color: gray;
}

.spin-button:hover,
.god-mode-button:hover {
  background-color: red; 
  transform: scale(1.1);
}

.winnings-base {
  font-family: "Bebas Neue";
  height: 20px;
  margin-top: 30px;
  font-size: 20px;
  color: #383838;
}

.winnings {
  height: 20px;
  margin-top: 40px;
}

.control-ui {
  margin-top: 15px;
}

.symbol {
  transform: translateY(-100%);
  transition: transform 0.1s linear;
  position: absolute;
  top: 0;
}

.spin {
  transform: translateY(100%);
}

.stop-spin {
  transform: translateY(0);
}

/* utilities */
.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mt-20 {
  margin-top: 20px;
}


.main-title {
  color: white; 
  font-size: 2.5rem;
  letter-spacing: 10px;
}
























.money {
  text-align: center;
  color:green;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  animation: fall 2s linear infinite ;
 
}

@keyframes fall {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(100vh);
  }
  
}




.winner-text {
  font-size: 50px;
  animation: popOutMoney 1s ease-out forwards;
}

@keyframes popOutMoney {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}




.cash {

  color:green;
 
}
.winnings {
  color:green;
}
